/* Estilos específicos para la página de Reservas */
#reservas {
    padding: 50px 0;
    animation: slideUp 1.5s ease;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

.mb-3 {
    margin-bottom: 15px;
}



label {
    font-weight: bold;
}


input, textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #e67e22;
    border-radius: 5px;
}

button {
    width: 100%;
}
.mensaje-confirmacion {
    display: none;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #ffc107; /* Color naranja */
    color: #856404;
    border: 1px solid #ffeeba;
    font-size: 16px;
    text-align: center;
    animation: fadeInOut 4s ease-in-out;
}

/* Animaciones */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}



@media (max-width: 768px) {
    #reservas{
        padding: 40px 20px;
    }

    #reservas h2 {
        font-size: 24px;
    }

    #reservas input, #reservastextarea {
        font-size: 16px;
    }
}
@media (max-width: 480px) {
    #reservas {
        padding: 100px 0;
    }

    #reservas h2 {
        font-size: 18px;
    }
}
